import(Biobase)
import(AnnotationDbi)
import(methods)
import(graph)
import(SparseM)


exportClasses(topGOdata, topGOresult, groupStats,
              classicCount, classicScore, classicExpr,
              removeCount, removeScore, removeExpr,
              elimCount, elimScore, elimExpr,
              weightCount, pC, parentChild)

exportMethods(initialize, description, ontology, allGenes, feasible, graph,
              geneSelectionFun, "description<-", "ontology<-", "feasible<-", "graph<-",
              "geneSelectionFun<-", print, show, updateGenes, genes, numGenes,
              geneScore, sigGenes, numSigGenes, usedGO, attrInTerm, genesInTerm,
              scoresInTerm, countGenesInTerm, termStat, "updateTerm<-",
              allMembers, Name, members, testStatistic, "Name<-", "allMembers<-",
              "members<-", numMembers, numAllMembers, runTest, "sigMembers<-",
              sigAllMembers, numSigAll, sigMembers, numSigMembers, contTable, allScore,
              membersScore, "score<-", rankMembers, pType, "pType<-", 
              membersExpr, getSigGroups, elim, cutOff, "elim<-", "cutOff<-", updateGroup,
              "Weights<-", Weights, "sigRatio<-", getSigRatio, score, testName, testClass,
              "score<-", "testName<-", "testClass<-", printGenes, penalise,
              scoreOrder, testStatPar, printGraph, GenTable,
              GOFisherTest, GOKSTest, GOtTest, GOglobalTest,
              joinFun, allParents,
              expressionMatrix, phenotype)

export(annFUN.db, annFUN, annFUN.gene2GO, annFUN.GO2genes,
       GOplot, showSigOfNodes, getPvalues, groupGOTerms,
       reverseArch, getGraphRoot, buildGOgraph.topology,
       nodesInInducedGraph, inducedGraph, buildLevels,
       getNoOfLevels, mapGenes2GOgraph, .sigAllMethods, 
       .getFromNode, .genesInNode, .countsInNode, .writeToNodes)
